@use '/styles/colors' as *;
@use '/styles/flex-sp-c.scss' as *;
@use '/styles/breackpoints' as *;

.header {
  width: 100vw;
  height: 50vw;
  nav {
    @extend %flex-sp-c;
    background-color: $linen;
    height: 10%;
    padding: 0 5vw;
  }
  section {
    @extend %flex-sp-c;
    padding: 0 7vw 0 12vw;
    height: 90%;
    article {
      width: 40%;
      h1 {
        margin: 0 0 5vw 0;
      }
      p {
        margin: 0 0 3vw 0;
      }
    }
    object {
      width: 50%;
    }
  }
}
