@use '/styles/colors' as *;
@use '/styles/flex-sp-c.scss' as *;
@use '/styles/breackpoints' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  header {
    nav {
      @extend %flex-sp-c;
      background-color: $linen;
      padding: 0 5vw;
    }
  }
  section {
    @extend %flex-sp-c;
    padding: 0 7vw 0 12vw;
    margin-bottom: 5.2vw;
    article {
      width: 40%;
      h1 {
        margin: 0 0 5vw 0;
      }
      p {
        margin: 0 0 3vw 0;
      }
    }
    object {
      width: 50%;
    }
  }
}
