@import '/styles/colors';

.cta {
  a {
    text-decoration: none;
    display: flex;
    border-radius: 30px;
    padding: 10px 30px;
    color: $ctaText;
    background-color: $paradise-pink;
    border: none;
    font-family: 'Krub-Medium';
    font-size: 1.4vw;
    border: lightsteelblue solid 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px 30px;
    color: $ctaText;
    background-color: $paradise-pink;
    border: none;
    font-family: 'Krub-Medium';
    font-size: 1.4vw;
    border: lightsteelblue solid 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  }
  h1 {
    position: relative;
    top: -3px;
    font-size: 1.4vw;
    margin-left: 10px;
  }
}
