@use '/styles/colors' as *;
@use '/styles/flex-sp-c' as *;

%bnt {
  font-family: 'Nunito-Regular';
  color: $pale-pink;
  font-size: 1.4vw;
  border-radius: 1.5625vw;
  padding: 0.52vw 1.5625vw;
  transition: box-shadow 0.25s;
  border: $arizona solid 0.05vw;
  background-color: $paradise-pink;
  box-shadow: 0 0.26vw 0.78vw rgba(0, 0, 0, 0.6);
  cursor: pointer;
  &:hover {
    box-shadow: 0.1vw 0.42vw 0.52vw rgba(0, 0, 0, 0.5);
  }
  &:focus {
    outline: none;
  }
}

.cta {
  @extend %bnt;
  text-decoration: none;
}

.email {
  @extend %flex-sp-c;
  h1 {
    position: relative;
    top: -0.1vw;
    font-size: 1.4vw;
    margin-left: 0.52vw;
  }
}
