@import '/styles/colors';

.cta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px 30px;
  color: $pale-pink;
  background-color: $paradise-pink;
  border: none;
  font-family: 'Nunito-Regular';
  font-size: 1.4vw;
  border: $arizona solid 1px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.25s;
  h1 {
    position: relative;
    top: -3px;
    font-size: 1.4vw;
    margin-left: 10px;
  }
  &:hover {
    box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.5);
  }
}
