@import '/styles/colors';

%bnt {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px 30px;
  height: 3.28125vw;
  color: $pale-pink;
  background-color: $paradise-pink;
  font-family: 'Nunito-Regular';
  font-size: 1.4vw;
  border: $arizona solid 1px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.25s;
  h1 {
    position: relative;
    top: -2px;
    font-size: 1.4vw;
    margin-left: 10px;
  }
  &:hover {
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
  }
  &:focus {
    outline: none;
  }
}

.cta {
  @extend %bnt;
  &[id='link'] {
    text-decoration: none;
    width: 50%;
  }
}

.email {
}
