@use '/styles/colors' as *;

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80vh;
  background-color: $linen;
  padding: 0 6vw 0 15vw;
  &__description {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.08vw;
    width: 55%;
    section {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      article {
        width: 80%;
      }
      &:not(:last-child) {
        margin-bottom: 2.6vw;
      }
    }
  }
  &__visualisation {
    img {
      width: 450px;
    }
  }
}
