@use '/styles/colors' as *;
@use '/styles/flex-sp-c.scss' as *;

.footer {
  @extend %flex-sp-c;
  height: 10vh;
  padding: 0 5vw;
  background-color: $linen;

  div[id='social'] {
    display: flex;
    :not(:last-child) {
      margin-right: 1.04vw;
    }
  }
}
