@import '/styles/colors';

.footer {
  padding: 0 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $linen;
  -webkit-box-shadow: 0 1.04vw -2em $linen;
  -moz-box-shadow: 0 1.04vw -2em $linen;
  box-shadow: 0 1.04vw -2em $linen;

  div[id='social'] {
    display: flex;
    :not(:last-child) {
      margin-right: 20px;
    }
  }
}
