@import '/styles/colors';

.logo {
  margin: 0;
  font-family: 'Knewave-Regular';
  color: $arizona;
  -webkit-text-stroke: 0.5px black;
  font-size: 3vw;
  // text-shadow: 1px 1px 0px black;
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}
