@use '/styles/colors' as *;

.logo {
  margin: 0;
  font-family: 'BalooChettan2-Bold';
  color: $arizona;
  -webkit-text-stroke: 2px black;
  font-size: 3vw;
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}
