@use '/styles/colors' as *;

.logo {
  margin: 0;
  font-family: 'Nunito-Black';
  color: $arizona;
  -webkit-text-stroke: 2px black;
  font-size: clamp(30px, 3vw, 57.6px);
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}
