@use '/styles/colors' as *;

%button {
  font-family: 'Nunito-Black';
  color: $linen;
  font-size: 1.4vw;
  padding: 0.52vw 1.5625vw;
  -webkit-text-stroke: 0.5px black;
  border-radius: 1.5625vw;
  border: $arizona solid 0.15vw;
  background-color: $paradise-pink;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.26vw 0.78vw rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
