// NUNITO

@font-face {
  font-family: 'Nunito-Black';
  src: URL('../public/font/Nunito/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: URL('../public/font/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: URL('../public/font/Nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: URL('../public/font/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Light';
  src: URL('../public/font/Nunito/Nunito-Light.ttf') format('truetype');
}

// BALOO

@font-face {
  font-family: 'BalooChettan2-Bold';
  src: URL('../public/font/Baloo/BalooChettan2-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'BalooChettan2-ExtraBold';
  src: URL('../public/font/Baloo/BalooChettan2-ExtraBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'BalooChettan2-Medium';
  src: URL('../public/font/Baloo/BalooChettan2-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'BalooChettan2-SemiBold';
  src: URL('../public/font/Baloo/BalooChettan2-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'BalooChettan2-Regular';
  src: URL('../public/font/Baloo/BalooChettan2-Regular.ttf') format('truetype');
}
