@font-face {
  font-family: 'Knewave-Regular';
  src: URL('../public/font/Knewave/Knewave-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Black';
  src: URL('../public/font/Nunito/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: URL('../public/font/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: URL('../public/font/Nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: URL('../public/font/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Light';
  src: URL('../public/font/Nunito/Nunito-Light.ttf') format('truetype');
}
