@font-face {
  font-family: 'Knewave-Regular';
  src: URL('../public/font/Knewave/Knewave-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-Bold';
  src: URL('../public/font/Krub/Krub-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-BoldItalic';
  src: URL('../public/font/Krub/Krub-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-ExtraLight';
  src: URL('../public/font/Krub/Krub-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-ExtraLightItalic';
  src: URL('../public/font/Krub/Krub-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-Italic';
  src: URL('../public/font/Krub/Krub-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-Light';
  src: URL('../public/font/Krub/Krub-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-LightItalic';
  src: URL('../public/font/Krub/Krub-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-Medium';
  src: URL('../public/font/Krub/Krub-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-MediumItalic';
  src: URL('../public/font/Krub/Krub-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-Regular';
  src: URL('../public/font/Krub/Krub-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-SemiBold';
  src: URL('../public/font/Krub/Krub-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub-SemiBoldItalic';
  src: URL('../public/font/Krub/Krub-SemiBoldItalic.ttf') format('truetype');
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
