@font-face {
  font-family: 'Knewave-Regular';
  src: URL('../public/font/Knewave/Knewave-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Black';
  src: URL('../public/font/Nunito/Nunito-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: URL('../public/font/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: URL('../public/font/Nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: URL('../public/font/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Light';
  src: URL('../public/font/Nunito/Nunito-Light.ttf') format('truetype');
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #ea526f;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #ea526f;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      90deg,
      rgba(100, 211, 174, 1) 0%,
      rgba(47, 141, 110, 1) 49%,
      rgba(100, 211, 174, 1) 100%
    );
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
