@import '/styles/colors';

$top: 0 -2.04vw 3em $linen;
$bottom: 0 2.04vw 3em $linen;

.top {
  -webkit-box-shadow: $top;
  -moz-box-shadow: $top;
  box-shadow: $top;
}

.bottom {
  -webkit-box-shadow: $bottom;
  -moz-box-shadow: $bottom;
  box-shadow: $bottom;
}

.both {
  -webkit-box-shadow: $bottom, $top;
  -moz-box-shadow: $bottom, $top;
  box-shadow: $bottom, $top;
}
